.contact {
    color: white;
    &__row {
        margin-bottom: 1em;
        &-labelcontainer {
            &-aligntop {
                align-self: start;
            }
        }
        &-innerlabel {
            color: black;
            font-style: italic;
            // display: none;
        }
        &-textarea {
            height: 130px !important;
        }
    }
    &__button {
        &-send {
            float: right;
        }
    }
}

//To change to small screen:
// - toggle display: none on inner labels (default: block / none)
// - toggle display of outer labels (inline-block / none)
// - change padding on inputs to: 0 0.75em
