.cvsection {
    &__wrapper {
        display: flex;
        justify-content: center;
        background-color: $header-bg;
        margin: 2em 0;
        border-top: 2px solid $border-light-color;
        border-bottom: 2px solid $border-light-color;
        padding: 2em;
        position: absolute;
        width: 100%;
        left: 0px;
        &-link {
            align-items: center;
            display: flex;
            margin-bottom: 1em;
            &-flag {
                height: 20px;
                width: 30px;
                margin-left: 1em;
            }
            &:hover {
                color: $text-light-color;
                text-decoration: none;
            }
        }
        &-iconwrapper {
            display: flex;
            align-self: center;
            margin-right: 2em;
            &-pdficon {
                color: $text-light-color;
                font-size: 3.5em;
                &:hover {
                    color: $text-light-color;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .cvsection {
        &__wrapper {
            flex-direction: column;
            &-iconwrapper {
                display: block;
                &-pdficon {
                    height: 30px;
                }
            }
        }
    }
}
