.experience {
    background-color: $light-blue;
    border: 2px solid $border-light-color;
    border-radius: 0.375rem;
    &__menu {
        background-color: $header-bg;
        &-col {
            padding-top: 1em;
            padding-bottom: 1em;
            min-width: max-content;
            border: none;
            &-item {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                font-family: $font-headers;
                color: $text-light-color;
                &.active {
                    border-radius: 0 !important;
                    background-color: $light-blue !important;
                    color: $text-dark-color !important;
                    border-color: $light-blue !important;
                }
                &:nth-last-child(1) {
                    border-bottom: none;
                }
            }
        }
    }
    &__content {
        padding: 1em 2em;
        &-text {
            color: $text-dark-color;
            &-wrapper {
                margin-bottom: 4em;
            }
            &-title {
                color: $text-dark-color;
            }
            &-link {
                color: $text-dark-color;
                font-size: 0.8em;
                display: block;
                &-address {
                    color: $text-dark-color;
                    line-break: anywhere;
                    &:hover {
                        color: $text-light-color;
                    }
                }
            }
            &-subtitle {
                color: $text-dark-color;
                font-size: 1.3em;
            }
            &-courseheader {
                margin-top: 2.5em;
            }
            &-hobbyheader {
                margin-top: 1em;
            }
            &-body {
                color: $text-dark-color;
                margin: 1.5em 0;
                &-highlight {
                    font-weight: bold;
                    display: block;
                    margin-top: 1em;
                }
                &-other {
                    margin-bottom: 0 !important;
                }
                &-hobby {
                    margin-top: 0;
                    margin-bottom: 3em;
                }
            }
        }
    }
}

@include media-breakpoint-down(lg) {
    .experience {
        display: none;
    }
}
