.footer {
    background-color: $header-bg;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5em;
    border-top: 2px solid $border-light-color;
    margin-top: 4em;
    &__content-text {
        margin: 0;
    }
}
