.keypoints {
    display: flex;
    &__col {
        width: 30%;
        margin: 0 1em;
        //background-color: red;
        display: flex;
        flex-direction: column;
        &-imgwrapper {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            &-img {
                // border: 2px solid black;
            }
        }
        &_item {
            //background-color: yellow;
            margin: 2em 0 7em 0;
            width: 250px;
            // &:hover {
            //     .keypoints__col_item-triangle-hovertext {
            //         animation: opacityIncrease 1.5s;
            //     }
            // }
            &-triangle {
                display: flex;
                align-items: end;
                justify-content: center;
                padding-bottom: 10px;
                background-color: $light-blue;
                height: 250px;
                width: 250px;
                clip-path: polygon(50% 0, 0% 100%, 100% 100%);
                &-text {
                    // color: red;
                    font-weight: bold;
                }
                &-hovertext {
                    color: white;
                    opacity: 0;
                    //animation: opacityIncrease 1.5s;
                    position: absolute;
                    max-width: 240px;
                    text-align: center;
                }
            }
            &-left {
                align-self: start;
            }
            &-right {
                align-self: end;
            }
        }
    }
}

@keyframes opacityIncrease {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@include media-breakpoint-between(md, lg) {
    .keypoints {
        &__col {
            &-imgwrapper {
                &-img {
                    width: 150%;
                }
            }
        }
    }
}

@include media-breakpoint-between(sm, md) {
    .keypoints {
        flex-direction: column;
        &__col {
            flex-direction: row;
            justify-content: center;
            width: unset;
            &_item {
                margin: 2em 10px 7em 10px;
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .keypoints {
        &__col {
            &_item {
                &-triangle {
                    &-hovertext {
                        font-size: 14px;
                    }
                }
            }
            &-imgwrapper {
                margin-bottom: 5em;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .keypoints {
        flex-direction: column;
        align-items: center;
        &__col {
            width: unset;
            display: block;
        }
    }
}

@media (hover: hover) {
    .keypoints {
        //background-color: red;
        &__col {
            &_item {
                &:hover {
                    .keypoints__col_item-triangle-hovertext {
                        //opacity: 1;
                        animation: opacityIncrease 1.5s;
                    }
                }
            }
            &-triangle {
                &-hovertext {
                    opacity: 0;
                }
            }
        }
    }
}

@media (hover: none) {
    .keypoints {
        &__col {
            &-triangle {
                &-hovertext {
                    opacity: 1;
                }
            }
        }
    }
}
