body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $bg-color;
}

#about {
    padding-top: 1px;
}

main {
    width: 80%;
    margin: auto;
}

button:disabled {
    filter: blur(2px);
}

#contact {
    display: flex;
    flex-direction: column;
}
