// Statusmodal:
.modalcontent {
    border: 2px solid $border-light-color;
    background-color: $successcolor-dark;
    &-error {
        background-color: $errorcolor-dark;
    }
    &__body {
        &-message {
            &-errormessage {
                color: $text-light-color;
                font-size: 0.8em;
            }
        }
    }
}

// Imagemodal:
.imagemodal {
    background: none;
    &__body {
        padding: 0;
        align-self: center;
        &-message {
            &-image {
                border: 4px solid $border-light-color;
                border-radius: 10px;
                max-width: 90vw;
                max-height: 90vh;
            }
        }
    }
}
