.modalcontent {
    border: 2px solid white;
    background-color: darkgreen;
    &-error {
        background-color: maroon;
    }
    &__body {
        &-message {
            &-errormessage {
                color: white;
                font-size: 0.8em;
            }
        }
    }
    &__footer {
    }
}
