// Statusmodal:

.modalcontent {
    border: 2px solid white;
    background-color: darkgreen;
    &-error {
        background-color: maroon;
    }
    &__body {
        &-message {
            &-errormessage {
                color: white;
                font-size: 0.8em;
            }
        }
    }
}

// Imagemodal:
.imagemodal {
    background: none;
    &__body {
        padding: 0;
        align-self: center;
        &-message {
            &-image {
                border: 4px solid white;
                border-radius: 10px;
                max-width: 90vw;
                max-height: 90vh;
            }
        }
    }
}
