section.portfolio {
    //margin-top: 24em;
}

#portfolio {
    margin-top: 16em;
    //content: " ";
    height: 24px;
}
@include media-breakpoint-down(sm) {
    #portfolio {
        margin-top: 20em;
    }
    // section.portfolio {
    //     margin-top: 30em;
    // }
}

.project {
    background-color: $box-dark-bg;
    border-radius: 15px;
    padding: 1em 3em 3em 3em;
    font-size: 12px;
    margin: 4em 0;

    &-mobileonly {
        &-left {
            text-align: left;
        }
        //display: none;
    }

    &__row {
        justify-content: space-between;
        display: flex;
        margin-top: 2em;
        min-height: 235px;
        &-title {
            font-weight: bold;
            margin-bottom: 1em;
        }
        &-header {
            margin-top: 2em;
            font-size: 18px;
            font-weight: bold;
        }
        &-listitem {
            color: white;
        }
        &-image {
            max-height: 30vh;
            max-width: 30vw;
            border-radius: 10px;
            border: 1px solid black;
        }
        &-right {
            min-width: 40%;
            align-self: center;
            text-align: center;
            &-bottom {
                align-self: center;
            }
        }
        &-icon {
            font-size: 3em;
            padding: 10px;
            margin-top: 10px;
            &-mobile {
                font-size: 4em;
            }
            &:hover {
                color: $light-blue;
                cursor: pointer;
            }
        }
        &-link {
            color: white;
            text-decoration: none;
            &-text {
                display: inline;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                    color: $light-blue;
                }
            }
        }

        // font-size: 1.5em;
    }
    &-mobileandactiveonly {
        display: none;
    }
}

//title, headers, keywords, ul
.project.active {
    background-color: $light-blue;

    .project {
        &-mobileandactiveonly {
            // display: inline-block;
            display: inherit;
        }
        &__row {
            &-icon {
                color: black;
                &-magnifier {
                    display: none;
                }
                &:hover {
                    color: white;
                }
            }
            &-title,
            &-header,
            &-body,
            &-listitem {
                color: black;
            }
            &-link {
                // color: $light-blue;
                display: inline-block;
                color: black;
                &-text {
                    color: black;
                    &:hover {
                        color: white;
                    }
                }
                &:hover {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    // small screen styling here...
    .project {
        &-desktoponly {
            display: none;
        }
        &__row {
            &-title {
                // text-align: center;
                font-weight: 400;
                font-size: 3em;
            }
            &-image {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
    .project.active {
        .project {
            &-desktoponly {
                display: none;
            }
        }
    }
}

// mobileonly
// desktoponly

@include media-breakpoint-up(md) {
    .project {
        &-mobileonly {
            display: none;
        }
    }
    .project.active {
        .project {
            &-mobileonly {
                display: none;
            }
            &-mobileandactiveonly {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .project {
        padding: 1em 10em 3em 10em;
    }
}

@include media-breakpoint-up(xxl) {
    .project {
        padding: 1em 15em 3em 15em;
    }
}
