.project {
    background-color: $box-dark-bg;
    border-radius: 15px;
    padding: 1em 3em 3em 3em;
    font-size: 12px;
    margin: 4em 0;
    &-mobileonly {
        &-left {
            text-align: left;
        }
    }
    &__row {
        justify-content: space-between;
        display: flex;
        margin-top: 2em;
        min-height: 235px;
        &-title {
            font-weight: bold;
            margin-bottom: 1em;
        }
        &-header {
            margin-top: 2em;
            font-size: 18px;
            font-weight: bold;
        }
        &-listitem {
            color: $text-light-color;
        }
        &-image {
            max-height: 30vh;
            max-width: 30vw;
            border-radius: 10px;
            box-shadow: 2px 5px 8px $bg-color;
            cursor: zoom-in;
            &:hover {
                box-shadow: 1px 3px 6px $bg-color;
            }
        }
        &-right {
            min-width: 40%;
            align-self: center;
            text-align: center;
            &-bottom {
                align-self: center;
            }
        }
        &-icon {
            font-size: 3em;
            padding: 10px;
            margin-top: 10px;
            &-mobile {
                font-size: 4em;
            }
            &:hover {
                color: $light-blue;
                cursor: pointer;
            }
        }
        &-link {
            color: $text-light-color;
            text-decoration: none;
            &-text {
                display: inline;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                    color: $light-blue;
                }
            }
        }
    }
    &-mobileandactiveonly {
        display: none;
    }
}

.project.active {
    background-color: $light-blue;
    .project {
        &-mobileandactiveonly {
            display: inherit;
        }
        &__row {
            &-icon {
                color: $text-dark-color;
                &-magnifier {
                    display: none;
                }
                &:hover {
                    color: $button-hover-color;
                }
            }
            &-title,
            &-header,
            &-body,
            &-listitem {
                color: $text-dark-color;
            }
            &-link {
                display: inline-block;
                color: $text-dark-color;
                &-text {
                    color: $text-dark-color;
                    &:hover {
                        color: $text-light-color;
                    }
                }
                &:hover {
                    color: $text-light-color;
                    text-decoration: none;
                }
            }
        }
    }
}

.portfolio {
    margin-top: 8em;
    padding-top: 3em;
}

// smaller screen styling here...
@include media-breakpoint-down(md) {
    .project {
        &-desktoponly {
            display: none;
        }
        &__row {
            &-title {
                font-weight: 400;
                font-size: 3em;
            }
            &-image {
                max-height: 100%;
                max-width: 100%;
            }
        }
    }
    .project.active {
        .project {
            &-desktoponly {
                display: none;
            }
        }
    }
    .portfolio {
        margin-top: 10em;
    }
}

@include media-breakpoint-up(md) {
    .project {
        &-mobileonly {
            display: none;
        }
    }
    .project.active {
        .project {
            &-mobileonly {
                display: none;
            }
            &-mobileandactiveonly {
                display: none;
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    .project {
        padding: 1em 10em 3em 10em;
    }
}

@include media-breakpoint-up(xxl) {
    .project {
        padding: 1em 15em 3em 15em;
    }
}

@include media-breakpoint-down(sm) {
    .portfolio {
        margin-top: 15em;
    }
}
