.some {
    align-self: center;
    margin-bottom: 4em;
    &__link {
        text-decoration: none;
        &-icon {
            font-size: 4em;
            line-height: 1em;
            color: $light-blue;
            &:hover {
                color: $text-light-color;
            }
        }
    }
}
