// Some common styling

h1,
h2,
h3,
h4 {
    font-family: $font-headers;
    color: $header-text-color;
}

h1 {
    margin-top: 3em;
}
h4 {
    color: $text-dark-color;
    font-size: 1.2em;
    font-weight: bold;
}

p {
    color: $text-light-color;
}

// Navigation
li a.nav-link {
    color: $text-light-color;
    &:hover {
        color: $light-blue;
    }
}
li a.nav-link.active {
    color: $text-light-color !important;
    text-decoration: underline;
}

li {
    line-height: 24px;
}

// Font-Awesome

.fa-solid {
    color: $text-light-color;
}

.fa-solid:hover {
    color: $light-blue;
}
