h1,
h2,
h3 {
    font-family: $font-headers;
    color: $header-text-color;
}

p {
    color: $text-light-color;
}

// navigation
li a.nav-link {
    color: $text-light-color;
}
li a.nav-link.active {
    color: yellow !important;
    text-decoration: underline;
}

.fa-solid {
    color: white;
}

.fa-solid:hover {
    color: $light-blue;
}
